.projectImages {
  overflow: auto;
  .imagesWrapper {
    .image {
      position: relative !important;
      object-fit: cover;
    }
  }
}

//Hide scrollbar
/* Hide scrollbar for Chrome, Safari and Opera */
.projectImages::-webkit-scrollbar {
  display: none;
}
.projectImages {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
